{{! Sheet Header }}
<header class="actor-sheet-header">
    {{> "systems/thewitchertrpg/templates/partials/character-header.hbs"}}
</header>

{{! Sheet Tab Navigation }}
<nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a data-tab="skills">{{localize "WITCHER.Actor.SkillTab"}}</a>
    <a data-tab="profession">{{localize "WITCHER.Actor.ProfessionTab"}}</a>
    <a data-tab="inventory">{{localize "WITCHER.Actor.InventoryTab"}}</a>
    <a data-tab="magic">{{localize "WITCHER.Actor.MagicTab"}}</a>
    <a data-tab="background">{{localize "WITCHER.Actor.BackgroundTab"}}</a>
</nav>
{{! Sheet Body }}
<section class="sheet-body">
    <div class="tab" data-group="primary"
         data-tab="skills">{{> "systems/thewitchertrpg/templates/partials/tab-skills.hbs"}}
    </div>
    <div class="tab" data-group="primary"
         data-tab="profession">{{> "systems/thewitchertrpg/templates/partials/tab-profession.hbs"}}
    </div>
    <div class="tab" data-group="primary"
         data-tab="inventory">{{> "systems/thewitchertrpg/templates/partials/tab-inventory.hbs"}}
    </div>
    <div class="tab" data-group="primary"
         data-tab="magic">{{> "systems/thewitchertrpg/templates/partials/tab-magic.hbs"}}
    </div>
    <div class="tab" data-group="primary"
         data-tab="background">{{~> "systems/thewitchertrpg/templates/partials/tab-background.hbs"~}}
    </div>
</section>